<div id="header">
  <span id="main-title"><a href="/">tom hummel</a></span>
  <span><a href="https://github.com/tphummel" title="tphummel">github</a></span>
  <span><a href="https://twitter.com/tphummel" title="tphummel">twitter</a></span>
  <span><a href="/2011/01/01/tetris-primer/" title="The New Tetris">tetris</a></span>
  <span><a href="/2011/01/01/mario-kart-primer/" title="Mario Kart: Double Dash!!">kart</a></span>
  <span><a href="http://connect.garmin.com/profile/tphummel" title="Running Log">garmin</a></span>
</div>
