<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="{{ "/monospace-web/reset.css" | relURL }}">
    <link rel="stylesheet" href="{{ "/monospace-web/index.css" | relURL }}">
    <script defer src="{{ "/monospace-web/index.js" | relURL }}"></script>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 16 16'><text x='0' y='14'>💾</text></svg>" />
    
</head>
<body>
<header>
    <h1><a href="{{ "/" | relURL }}">{{ .Site.Title }}</a></h1>
</header>
<main>
    {{ block "main" . }}{{ end }}
</main>
{{ partial "fleuron.html" . }}
</body>
</html>
