<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" href="/css/fontawesome.min.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
  <link media="only screen and (max-device-width: 480px)" href="/css/mobile.css" type="text/css" rel="stylesheet" />
  <link media="only screen and (device-width: 768px)" href="/css/mobile.css" type="text/css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
</head>

<body>
  <a href="https://github.com/tphummel/tphummel.github.io"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

  <section class="sidebar">
    <a href="/">
      <img src="{{ site.gravatar_url }}?s=150" height="75" width="75" class="avatar" />
    </a>

    <section class="name">
      <a href="/">
        <span id="fname">{{ site.name|split:' '|first }}</span>
        <span id="lname">{{ site.name|split:' '|last }}</span>
      </a>
    </section>

    <section class="meta">
      <a href="https://github.com/{{ site.github }}" target="_blank"><i class="icon icon-github"></i></a>
      <a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="icon icon-twitter"></i></a>
      <a href="/atom.xml"><i class="icon icon-rss"></i></a>
    </section>

    <section class="sections">
      <ul>
        <li><a href="{% post_url 2011-01-01-tetris-primer %}">tetris</a></li>
        <li><a href="{% post_url 2011-01-01-mario-kart-primer %}">kart</a></li>
        <li><a href="http://frantic3.blogspot.com/">frantic3</a>
        <li><a href="http://connect.garmin.com/profile/tphummel">garmin</a>
      </ul>
    </section>
  </section>

  {{ content }}

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23840969-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>

</html>
